html,body {
    font-family: "Inter", Arial;
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

header {
    background-color: #ccc;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation img{
    width: 48px;
    height: 48px;
}

.navigation a {
    text-decoration: none;
    font-weight: bold;
}

.button {
    background-color: #5B20C7;
    color: #fff;
    border-radius: 8px;
    padding: 4px 24px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    column-gap: 15%;
}
.biru{
    color: rgb(12, 12, 231);
}
.judul{
    font-size: 25px;
    max-width: 50%;
}
button{
    background-color: #5B20C7;
    color: #ccc;
    padding: 10px;
    border-radius: 20px;
    padding: 15px;

}
.gambar{
    max-width:300px;
}        





